{
    "twitterCallbackURL": "http://tlks.local/auth/twitter/callback",
    "twitterConsumerKey": "xxxx",
    "twitterConsumerSecret": "xxxx"
    "mongodb": "mongodb://xxxxx:xxxxxx@xxxxx.mongolab.com:xxxxx/tlksio",
    "elasticsearch": "https://xxxxx:xxxxx@xxxxx.bonsai.io",
    "server": {
        "port": 80
    },
    "front": {
        "port": 9001
    },
    "api": {
        "port": 9002
    },
    "workers": {
        "facebook": {
            "key": "xxxxxx"
        },
        "twitter": {
            "token": "xxxxxxx"
            "secret": "xxxxxx"
        }
    }
}
