script(type="text/javascript", src="/js/google.cookiechoices.js")
script(type="text/javascript")
    | document.addEventListener('DOMContentLoaded', function(event) {
    |    cookieChoices.showCookieConsentBar('We use cookies to improve your user experience and gather some statistical data',
    |    'ok', 'learn more', 'http://tlks.io/terms');
    | });