body {
  font-family: 'Droid Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

.img-center {margin:0 auto;}

.activity-list {
  .event {
    padding: 20px 0;
  }
}

.talk-view {
  .tags {
    display: inline;
    padding-top: 25px;
    .tag {
      font-size: 1.25rem;
      background-color: #ccc;
      color: #666;
      margin-right: 5px;
      font-weight: normal;
    }
    .tag:hover {
      color: #333;
    }
  }
}

.talk-list {
  .talk {
    margin: 35px 0;
    .title {
      margin-top: 0;
      line-height: 3.2rem;
    }
    .thumb {
      padding-left: 0;
    }
    .description {
      font-size: 1.45rem;
    }
    .info {
      padding-right: 0;
      .votes {
        button {
          width: 100%;
        }
      }
    }
    .rates {
      i {
        padding-right: 10px;
      }
    }
    .tags {
      display: inline;
      .tag {
        font-size: 1.25rem;
        background-color: #ccc;
        color: #666;
        margin-right: 5px;
        font-weight: normal;
      }
      .tag:hover {
        color: #333;
      }
    }
  }
}

footer {
  margin-bottom: 25px;

  .menu {
    li {
      line-height: 1.5em;
    }
  }
}
