body {
  font-family: 'Droid Serif', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
.img-center {
  margin: 0 auto;
}
i.tag {
  color: #666666;
}
.activity-list .event {
  padding: 20px 0;
}
.activity-list .event .created {
  font-style: italic;
  color: #999;
}
.search-form .search-string {
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.talk-view .tags {
  display: inline;
  padding-top: 25px;
}
.talk-view .tags .tag {
  font-size: 1.25rem;
  background-color: #ccc;
  color: #666;
  margin-right: 5px;
  font-weight: normal;
}
.talk-view .tags .tag:hover {
  color: #333;
}
.talk-view .info i {
  margin-right: 10px;
}
.talk-view ul.share-buttons {
  list-style: none;
  padding: 0;
}
.talk-view ul.share-buttons li {
  display: inline;
  padding-right: 10px;
}
.talk-list .talk {
  margin: 35px 0;
}
.talk-list .talk .title {
  margin-top: 0;
  line-height: 3.2rem;
}
.talk-list .talk .thumb {
  padding-left: 0;
}
.talk-list .talk .description {
  font-size: 1.45rem;
}
.talk-list .talk .info {
  padding-right: 0;
}
.talk-list .talk .info .votes button {
  width: 100%;
}
.talk-list .talk .rates i {
  padding-right: 10px;
}
.talk-list .talk .tags {
  line-height: 2.5em;
}
.talk-list .talk .tags .tag {
  font-size: 1.25rem;
  background-color: #ccc;
  color: #666;
  margin-right: 5px;
  font-weight: normal;
  padding: 5px;
  line-height: 1.5rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.talk-list .talk .tags .tag:hover {
  color: #333;
}
.error-details {
  padding: 20px;
}
.profile .information {
  padding-bottom: 25px;
}
.profile .information img {
  width: 65%;
}
.profile .information .title {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Oswald', sans-serif;
}
.profile .information .bio {
  font-size: 1.5em;
  line-height: 1.4em;
}
.profile .lists-content .talk-list .margin-top-20 {
  margin-top: 20px;
}
.about p {
  font-size: 1.2em;
}
footer {
  margin-bottom: 25px;
}
footer .menu li {
  line-height: 1.5em;
}
