.talk-list {
    .talk {
        margin-bottom: 25px;
        h3 {
            margin-top: 0;
        }
        .info {
            i {
                padding-right: 10px;
            }
        }
        .tags {
            display: inline;
            .tag {
                margin-right: 5px;
                font-weight: normal;
            }
        }
    }
}

footer {
    margin-bottom: 25px;
}
