doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        include partials/google.webmastertools.jade
        include partials/main.css.jade
    body
        include partials/facebook.sdk.jade
        include partials/header.jade
        .container.about
            .row
                .col-xs-12
                    h1 About tlks.io
                    hr
                    p Developers! Developers! Developers!
                    p We love technical talks isn't it? We learn with them, we like to speak at them, and we really love to meet new people there. People like us, our crowd.
                    p But there is a problem, every year more and more conferences are celebrated with a lot of great talks and speakers, and we can't attend to all of them ofcourse. And that's the reason we have built
                        span= " "
                        a(href="http://tlks.io") tlks.io
                        span !
                        span= " "
                        span A place where you can publish, recomend and discover the latest and more popular talks driven by a community of developers and enthusiasts that love technical talks and enjoy watching them to learn about technology, about internet and about anything you can imagine.
                    p We’re hoping to make it a little bit easier for the world to find out about cool talks.
            .row
                .col-xs-12
                    h2.text-center Team
                    hr
                    .row.text-center
                        .col-xs-4
                            .text-center
                                img.img-center.img-circle.img-responsive(src="https://pbs.twimg.com/profile_images/3762983363/ede6dbb190b231797dca2c893a337adf_400x400.jpeg", style="width: 50%", alt="Raül Pérez")
                                p.lead(style="margin: 10px 0 0 0") Raül Pérez
                                p
                                    a(href='/profile/repejota')
                                        span @repejota
                                //- p.text-muted Back+Front Developer
                                ul.list-inline
                                    li(style="width: 45px")
                                        a(href='http://github.com/repejota', style="font-size: 28px", title="Raül Pérez at Github")
                                            i.fa.fa-github
                                    li(style="width: 45px")
                                        a(href='http://twitter.com/repejota', style="font-size: 28px", title="Raül Pérez at Twitter")
                                            i.fa.fa-twitter
                                    li(style="width: 45px")
                                        a(href='http://linkedin.com/in/repejota', style="font-size: 28px", title="Raül Pérez at LinkedIn")
                                            i.fa.fa-linkedin
                        .col-xs-4
                            .text-center
                                img.img-center.img-circle.img-responsive(src="https://pbs.twimg.com/profile_images/3183563149/f3b8241c3e620583214361b4a55cdc54_400x400.jpeg", style="width: 50%", alt="José Gil")
                                p.lead(style="margin: 10px 0 0 0") José Gil
                                p
                                    a(href='/profile/josgilmo')
                                        span @josgilmo
                                //- p.text-muted SEO Manager
                                ul.list-inline
                                    li(style="width: 45px")
                                        a(href='http://github.com/josgilmo', style="font-size: 28px", title="José Gil at Github")
                                            i.fa.fa-github
                                    li(style="width: 45px")
                                        a(href='http://twitter.com/josgilmo', style="font-size: 28px", title="José Gil at Twitter")
                                            i.fa.fa-twitter
                                    li(style="width: 45px")
                                        a(href='http://linkedin.com/in/josegilmolina', style="font-size: 28px", title="José Gil at LinkedIn")
                                            i.fa.fa-linkedin
                        .col-xs-4
                            .text-center
                                img.img-center.img-circle.img-responsive(src="https://pbs.twimg.com/profile_images/551060818146492418/6jWE1xoC_400x400.jpeg", style="width: 50%", alt="Eric Pinto")
                                p.lead(style="margin: 10px 0 0 0") Eric Pinto
                                p
                                    a(href='/profile/_dawnangel_')
                                        span @_dawnangel_
                                //- p.text-muted Frontend Developer
                                ul.list-inline
                                    li(style="width: 45px")
                                        a(href='https://github.com/dawnangel', style="font-size: 28px", title="Eric Pinto at Github")
                                            i.fa.fa-github
                                    li(style="width: 45px")
                                        a(href='http://twitter.com/_dawnangel_', style="font-size: 28px", title="Eric Pinto at Twitter")
                                            i.fa.fa-twitter
                                    li(style="width: 45px")
                                        a(href='http://linkedin.com/in/ericpg', style="font-size: 28px", title="Eric Pinto at LinkedIn")
                                            i.fa.fa-linkedin

                        .col-xs-4.col-xs-offset-2
                            .text-center
                                img.img-center.img-circle.img-responsive(src="https://pbs.twimg.com/profile_images/1129032572/android-logo1_400x400.png", style="width: 50%", alt="Issel Guberna")
                                p.lead(style="margin: 10px 0 0 0") Issel Guberna
                                p
                                    a(href='/profile/octante')
                                        span @octante
                                ul.list-inline
                                    li(style="width: 45px")
                                        a(href='https://github.com/octante', style="font-size: 28px", title="Issel Guberna at Github")
                                            i.fa.fa-github
                                    li(style="width: 45px")
                                        a(href='http://twitter.com/octante', style="font-size: 28px", title="Issel Guberna at Twitter")
                                            i.fa.fa-twitter
                                    li(style="width: 45px")
                                        a(href='http://linkedin.com/in/isselguberna', style="font-size: 28px", title="Issel Guberna at LinkedIn")
                                            i.fa.fa-linkedin

                        .col-xs-4
                            .text-center
                                img.img-center.img-circle.img-responsive(src="https://pbs.twimg.com/profile_images/1462148715/image_400x400.jpg", style="width: 50%", alt="Gorka López de Torre")
                                p.lead(style="margin: 10px 0 0 0") Gorka López de Torre
                                p
                                    a(href='/profile/GorkaLopez')
                                        span @gorkalopez
                                ul.list-inline
                                    li(style="width: 45px")
                                        a(href='https://github.com/glopezdetorre', style="font-size: 28px", title="Gorka López de Torre at Github")
                                            i.fa.fa-github
                                    li(style="width: 45px")
                                        a(href='http://twitter.com/gorkalopez', style="font-size: 28px", title="Gorka López de Torre at Twitter")
                                            i.fa.fa-twitter
                                    li(style="width: 45px")
                                        a(href='https://www.linkedin.com/in/gorkalopezdetorre', style="font-size: 28px", title="Gorka López de Torre at LinkedIn")
                                            i.fa.fa-linkedin


        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
