doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        include partials/google.webmastertools.jade
        include partials/main.css.jade
    body
        include partials/header.jade
        .container
            .row
                .col-xs-12
                    h1 About techtalks.io
                    hr
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                    p In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                    p Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
                    p Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                    p Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
            .row
                .col-xs-12
                    h2.text-center Team
                    hr
                    .row.text-center
                        .col-xs-6
                            .text-center
                                img.img-center.img-circle.img-responsive(src="https://pbs.twimg.com/profile_images/3762983363/ede6dbb190b231797dca2c893a337adf_400x400.jpeg", style="width: 50%")
                                .row.text-center
                                    p.lead Raül Pérez
                                .row.text-center
                                    a(href="http://twitter.com/repejota")
                                        span @repejota
                        .col-xs-6
                            .text-center
                                img.img-center.img-circle.img-responsive(src="https://pbs.twimg.com/profile_images/3183563149/f3b8241c3e620583214361b4a55cdc54_400x400.jpeg", style="width: 50%")
                                .row.text-center
                                    p.lead José Gil
                                .row.text-center
                                    a(href="http://twitter.com/josgilmo")
                                        span @josgilmo
        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
