doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title techtalks.io
		include ./partials/css.jade
	body
		include ./partials/header.jade
		p add
		include ./partials/footer.jade
		include ./partials/js.jade
