doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
        link(rel="alternate", type="application/rss+xml", href="http://tlks.io/rss/latest", title="RSS 2.0 Latest Talks")
        link(rel="alternate", type="application/rss+xml", href="http://tlks.io/rss/popular", title="RSS 2.0 Popular Talks")
    body
        include partials/facebook.sdk.jade
        include partials/header.jade

        include partials/search-form.jade

        //- Latest talks
        .container.latest-talks
            .row
                .col-xs-12.talk-list
                    h2 Latest talks
                    hr
                    each talk in latest
                        include ./partials/talk-list.item.jade
                        hr
            .row
                .col-xs-12
                    a(href="/latest") View more...
                    hr
        //- Popular talks
        .container.popular-talks
            .row
                .col-xs-12.talk-list
                    h2 Popular talks
                    hr
                    each talk in popular
                        include ./partials/talk-list.item.jade
                        hr
            .row
                .col-xs-12
                    a(href="/popular") View more...
                    hr


        include partials/modal.anon-vote.jade

        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
        include partials/disqus.jade
