doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
    body
        include partials/facebook.sdk.jade
        include partials/header.jade
        .container
            .row
                .col-xs-12
                    h1 Login
                    a.btn.btn-primary.btn-lg.btn-block(href="/auth/twitter", type="button") Login with Twitter
        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
