doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
        link(rel="alternate", type="application/rss+xml", href="http://tlks.io/rss/popular", title="RSS 2.0 Latest Talks")
        //- Meta canonical for pagination
        link(rel="canonical", href="http://tlks.io/popular/page/" + pagination.page)
        link(rel="next", href="http://tlks.io/popular/page/" + pagination.next)
        link(rel="prev", href="http://tlks.io/popular/page/" + pagination.prev)
    body
        include partials/facebook.sdk.jade
        include partials/header.jade

        //- Latest talks
        .container.latest-talks
            .row
                .col-xs-12.talk-list
                    h2 Popular talks
                    hr
                    each talk in latest
                        include ./partials/talk-list.item.jade
                        hr
            nav
                ul.pagination
                    li
                      a(href="/popular/page/" + pagination.prev, aria-label='Previous')
                        span(aria-hidden='true') &laquo; Prev
                    li
                      a(href="/popular/page/" + pagination.next, aria-label='Next')
                        span(aria-hidden='true') Next &raquo;

        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
        include partials/disqus.jade
