doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title tlks.io
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
    body
        include partials/header.jade
        .container
            .row
                .col-xs-3
                    img.img-responsive.img-circle(src=profile.avatar)
                .col-xs-9
                    h1 @
                        span= profile.username
            .row
                .col-xs-12
                    ul.nav.nav-tabs
                        li.active(role="posted")
                            a(href="#") Posted
                        li(role="upvoted")
                            a(href="#") Upvoted
                        li(role="collections")
                            a(href="#") Collections
                        li(role="followers")
                            a(href="#") Followers
                        li(role="following")
                            a(href="#") Following
            .row
                .col-xs-12.talk-list
                    for talk in posted
                        include ./partials/talk-list.item.jade

        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
