doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
    body
        include partials/facebook.sdk.jade
        include partials/header.jade
        .container.profile
            .row.information
                .col-xs-4
                    img.responsive.img-circle(src=""+profile.avatar.replace("_normal", ""))
                .col-xs-8
                    .title= profile.username
                    .bio= profile.bio
                    hr
                    .meta
                        a(href="http://twitter.com/"+profile.username)= "@" + profile.username

            .row.lists-tab
                .col-xs-12
                    ul.nav.nav-tabs
                        li(role="posted")
                            a(href="/profile/" + profile.username) Posted
                        li.active(role="upvoted")
                            a(href="/profile/" + profile.username + "/upvoted") Upvoted
                        li(role="favorited")
                            a(href="/profile/" + profile.username + "/favorited") Favorited
            .row.lists-content
                .col-xs-12.talk-list
                    if upvoted.length
                        for talk in upvoted
                            include ./partials/talk-list.item.jade
                    else
                        div.margin-top-20.text-center You didn't upvoted any talk yet!

        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
