doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
    body
        include partials/facebook.sdk.jade
        include partials/header.jade
        .container
            h1 Settings
            hr
            .row
                .col-xs-2.text-center
                    img.responsive.img-circle(src=""+user.avatar)
                .col-xs-10
                    form.form-horizontal(method="post", action="/profile/" + user.username + "/settings")
                        input.form-control(type="hidden", name="id", id="id", value= user.id)
                        .form-group
                            .col-xs-2
                                label(for="username") Username
                            .col-xs-10
                                p.form-control-static @
                                    = user.username
                        .form-group
                            .col-xs-2
                                label(for="email") Email
                            .col-xs-10
                                input.form-control(type="text", name="email", id="email", placeholder="email@example.com", value=user.email)
                        .form-group
                            .col-xs-2
                                label(for="bio") Bio
                            .col-xs-10
                                textarea.form-control(name="bio", id="bio")= user.bio
                        .row
                            .col-xs-6.text-left
                                a.btn.btn-danger(href="/") Cancel
                            .col-xs-6.text-right
                                input.btn.btn-primary(type="submit", value="Save profile")
        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
