doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title techtalks.io
		include ./partials/google.webmastertools.jade
		include ./partials/css.jade
		link(rel="shortcut icon", href="/img/favicon.png")
	body
		include ./partials/header.jade
		.container
			.row
				.col-xs-12
					h1 Settings
					hr
					form(method="post", action="/settings")
						input.form-control(type="hidden", name="id", id="id", value= user.user_id)
						.row
							.col-xs-6.text-left
								a.btn.btn-danger(href="/") Cancel
							.col-xs-6.text-right
								input.btn.btn-primary(type="submit", value="Save settings")
		include ./partials/footer.jade
		include ./partials/js.jade
