doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        meta(description= description)
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
        link(rel="alternate", type="application/rss+xml", href="http://tlks.io/rss/tag/" + tag, title="RSS 2.0 Latest Talks")
    body
        include partials/facebook.sdk.jade
        include partials/header.jade

        //- Tagged talks
        .container.latest-talks
            .row
                .col-xs-12.talk-list
                    h2 Talks tagged as:
                        span= " " + tag
                    hr
                    each talk in talks
                        include ./partials/talk-list.item.jade
                        hr
            nav
                ul.pagination
                    li
                      a(href="/tag/" + tag + "/" + pagination.prev, aria-label='Previous')
                        span(aria-hidden='true') &laquo; Prev
                    li
                      a(href="/tag/" + tag + "/" + pagination.next, aria-label='Next')
                        span(aria-hidden='true') Next &raquo;

        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
