doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        meta(description= description)
        include partials/google.webmastertools.jade
        include partials/main.css.jade
        link(rel="shortcut icon", href="/img/favicon.png")
        include partials/talk.meta-twitter-card.jade
        include partials/talk.meta-open-graph.jade
        include partials/talk.meta-article.jade
    body
        include partials/facebook.sdk.jade
        include partials/header.jade
        .container
            .row
                .col-xs-12.talk-view
                    h2= talk.title
                    hr
                    .row
                        .col-xs-8
                            .embed-responsive.embed-responsive-16by9
                                #youtube-player
                        include partials/votes.jade
                    .row
                        .col-xs-12
                            p= talk.description
                    .row
                        .col-xs-10.tags
                            each tag in talk.tags
                                a.label.label-default.tag(href="/tag/" + encodeURIComponent(tag))= tag
                    hr
                    include ./partials/talk.share.jade
                    hr
                    include ./partials/talk.comments.jade
                        .tags
                .row
                    .col-xs-12.talk-list
                        h3 Related talks
                        hr
                        each talk in related
                            include ./partials/talk-list.item.jade
                            hr

        include partials/footer.jade
        include partials/main.js.jade
        include partials/google.analytics.jade
        include partials/google.youtube.jade
        include inline-js/talk.js.jade
