.row.event
    .col-xs-10
        a(href="/profile/" + talk.author.username)
            span @
            span= talk.author.username
        = ' '
        span posted
        = ' '
        a(href="/talk/" + talk.slug)= talk.title
        br
        = talk.created
    .col-xs-2
        a(href="/profile/"+talk.author.username)
            img.responsive.img-circle(src=""+talk.author.avatar, title="@"+talk.author.username, style="width: 24px")
