footer.container
    hr
    .row
        .col-xs-12
            span CopyRight &copy; 2015
            = ' '
            span -
            = ' '
            a(href='/terms') Terms of service
            = ' '
            span -
            = ' '
            a(href='/privacy') Policy privacy

