footer.container
    hr
    .row
        .col-xs-3
            ul.list-unstyled.menu
                li.lead techtalks.io
                li
                    a(href="/", title="techtalks.io home") Home
                li
                    a(href="/activity", title="techtalks.io activity log") Activity
                li
                    a(href="/about", title="about techtalks.io") About
                li
                    a(href="/faq", title="techtalks.io Frequent Asked Questions") FAQ
        .col-xs-3
            ul.list-unstyled.menu
                li.lead Social
                li
                    a(href="http://techtalksio.tumblr.com/", title="techtalks.io blog") Blog
                li
                    a(href="http://twitter.com/techtalksio", title="techtalks.io twitter account") Twitter
                li
                    a(href="https://www.facebook.com/techtalksio", title="techtalks.io facebook page") Facebook
        .col-xs-3
            .ul.list-unstyled.menu
                li.lead Developer
                li
                    a(href="http://techtalks.io/api", title="techtalks.io API documentation") API
                li
                    a(href="http://github.com/techtalksio", title="techtalks.io opensource source code") Github
        .col-xs-3
    hr
    .row
        .col-xs-12
            span CopyRight &copy; 2015
            = ' '
            span -
            = ' '
            a(href='/terms', title="techtalks.io terms of service") Terms of service
            = ' '
            span -
            = ' '
            a(href='/privacy', title="techtalks.io privacy policy") Privacy policy

