footer.container
    hr
    .row
        .col-xs-3
            ul.unstyled
                li.lead techtalks.io
                li
                    a(href="/") Home
                li
                    a(href="/activity") Activity
                li
                    a(href="/about") About
                li
                    a(href="/faq") FAQ
        .col-xs-3
            ul.unstyled
                li.lead Social
                li
                    a(href="http://techtalksio.tumblr.com/") Blog
                li
                    a(href="http://twitter.com/techtalksio") Twitter
                li
                    a(href="https://www.facebook.com/techtalksio") Facebook
        .col-xs-3(colspan="6")
    hr
    .row
        .col-xs-12
            span CopyRight &copy; 2015
            = ' '
            span -
            = ' '
            a(href='/terms') Terms of service
            = ' '
            span -
            = ' '
            a(href='/privacy') Policy privacy

