footer.container
    hr
    .row
        .col-xs-3
            ul.list-unstyled.menu
                li.lead tlks.io
                li
                    a(href="/", title="tlks.io home") Home
                li
                    a(href="/activity", title="tlks.io activity log") Activity
                li
                    a(href="/about", title="about tlks.io") About
                li
                    a(href="/faq", title="tlks.io Frequent Asked Questions") FAQ
        .col-xs-3
            ul.list-unstyled.menu
                li.lead Social
                li
                    a(href="http://tlks.tumblr.com/", title="tlks.io blog") Blog
                li
                    a(href="http://twitter.com/tlksio", title="tlks.io twitter account") Twitter
                li
                    a(href="https://www.facebook.com/pages/tlksio/787097164701089", title="tlks.io facebook page") Facebook
                li
                    a(href="https://plus.google.com/101644560496300780242", rel="publisher", title="tlks.io Google+ page") Google+
        .col-xs-3
            .ul.list-unstyled.menu
                li.lead Developer
                li
                    a(href="http://tlks.io/api", title="tlks.io API documentation") API
                li
                    a(href="http://github.com/tlksio", title="tlks.io opensource source code") Github
        .col-xs-3
    hr
    .row
        .col-xs-12
            span CopyRight &copy; 2015
            = ' '
            span -
            = ' '
            a(href='/terms', title="tlks.io terms of service") Terms of service
            = ' '
            span -
            = ' '
            a(href='/privacy', title="tlks.io privacy policy") Privacy policy
