script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
//- textalks.io-footer
ins.adsbygoogle(style="display:inline-block;width:728px;height:15px", data-ad-client="ca-pub-3158716792941183", data-ad-slot="4490264939")
script (adsbygoogle = window.adsbygoogle || []).push({});