.modal.fade(id="voteAnon", tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-body
                span foooo
            .modal-footer
                button.btn.btn-default(type="button", data-dimiss="modal") Close
