meta(name="og:title", content="" + talk.title)
meta(name="og:type", content="article")
meta(name="og:url", content="http://tlks.io/talk/" + talk.slug)
meta(name="og:image", content="http://img.youtube.com/vi/" + talk.code + "/0.jpg")
meta(name="og:description", content="" + talk.description)
meta(name="og:site_name", content="tlksio")
//- meta(name="fb:admins", content="Facebook numeric ID")
