meta(name="twitter:card", content="summary")
meta(name="twitter:url", content="http://tlks.io/talk/" + talk.slug)
meta(name="twitter:title", content="" + talk.title)
meta(name="twitter:description", content="" + talk.description)
meta(name="twitter:image", content="http://img.youtube.com/vi/" + talk.code + "/hqdefault.jpg")
meta(name="twitter:site", content="@tlksio")
meta(name="twitter:creator", content="@tlksio")
