.row.talk
    .col-xs-2.thumb
        a(href="/talk/play/" + talk.slug)
            img.img-responsive.img-circle.thumbnail(src="http://img.youtube.com/vi/" + talk.code + "/0.jpg", title=talk.title)
    .col-xs-9.content
        h3.title: a(href="/talk/" + talk.slug)= talk.title
        p.description= talk.description
        .tags
            each tag in talk.tags
                a.tag(href="/tag/" + encodeURIComponent(tag))= tag
    include votes.jade

