.row.talk(itemscope, itemtype="http://schema.org/Article")
    .col-xs-2.thumb
        a(href="/talk/play/" + talk.slug)
            if talk.type=="youtube"
                img.img-responsive.img-circle.thumbnail(src="http://img.youtube.com/vi/" + talk.code + "/mqdefault.jpg", title=talk.title, itemprop="image")
            else if talk.type="vimeo"
                img.img-responsive.img-circle.thumbnail(src=talk.thumb, title=talk.title, itemprop="image")
    .col-xs-9.content
        h3.title(itemprop="name"): a(href="/talk/" + talk.slug)= talk.title
        p.description(itemprop="articleBody")= talk.description
        .tags
            each tag in talk.tags
                a.tag(href="/tag/" + encodeURIComponent(tag))= tag
    .col-xs-1
        include votes.jade

